<div style="background-color: rgb(151, 149, 149);">
  <br>
  <h1 class="titulo">Angular Router App</h1>
  <br>
</div>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div style="background-color: aquamarine;">
<br>
<p class="nav"><a class="nav" routerLink="/firstComponent" routerLinkActive="active">Heroes</a>  |  <a class="nav" routerLink="/secondComponent" routerLinkActive="active">  Actuador   </a>  |  <a class="nav" routerLink="/hello" routerLinkActive="active">NotFound Component</a></p>
<br>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>